.classpath
*.pyc
*.pyd
.metadata/
.settings/
target/
.class
.directory
*~
renders/
*.pyc
documentation/presentation/img/
alfirt.runner/src/tests/tmp/
build

alfirt.runner/bpy
alfirt.runner/os

